<footer class="footer">
    <div class="f-info">

        <div class="f-info-icons">
            <a href="/facebook"> <i class="fa-brands fa-square-facebook me-3"></i></a>
            <a href="/instagram"> <i class="fa-brands fa-square-instagram me-3"></i> </a>
            <a href="/linkedin"> <i class="fa-brands fa-linkedin me-3"></i> </a>
        </div>
        <div class="f-info-name">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>