<%- layout('layouts/boilerplate.ejs')%>
    <div class="row">
        <div class="col col-6 offset-3 alert alert-danger mt-3">
            <h4 class="alert-heading">
                Status:
                <%=status%><br>
                    <%=message%>

            </h4>
        </div>
    </div>